* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 50px;
}

header {
    background-color: #accbe1;
    margin-bottom: 0px;
    border-bottom: 5px solid #94b2ca;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    overflow: hidden;
}

aside {
    overflow-y: scroll;
    padding: 20px;
    background-color: #ffffff;
}

.info {
    background-color: #FCFDFE;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px 3px #F5F5F5;
}
article {
    overflow-y: scroll;
    padding: 20px;
    background-color: #ffffff;
}

.entry {
    background-color: #FCFDFE;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px 3px #F5F5F5;
}

footer {
    width: 100%;
    background-color: #accbe1;
    margin-top: 0px;
    border-top: 5px solid #94b2ca;
    text-align: center;
    padding: 10px 20px 10px 20px;
}