
body {
   padding: 0
}

header {
    background-color: lightsteelblue;
    padding: 20px;
}
main {
    background-color: lightgray;
    padding: 20px;
}
footer {
    background-color: lightsteelblue;
    padding: 20px;
}
img {
    padding: 20px 0 20px 0; 
}
.jumbotron {
    margin-bottom: 0;
}